/*************************************
*    create by xiaofeng.yao
*    email 871213171@qq.com
*    time 2017.08.31
*    component qs-case
*    path /Users/apple/qishon/qishon-web-3.0/official-website/src/less/view/case.less
*************************************/
.case-swiper{
    .slide-one{
        background:url('../images/case/anli26.png');
    }
    .slide-two {
        background: url('../images/case/anta.png');
    }
    .slide-three {
        background: url('../images/case/xtep04.png');
    }
    .slide-four {
        background: url('../images/case/joeone.png');
    }
    .slide-five {
        background: url('../images/case/anli23.png');
    }
    .slide-six {
        background: url('../images/case/anli27.png');
    }
    .slide-seven {
        background: url('../images/case/bird.png');
    }
    .slide-eight {
        background: url('../images/case/anli28.png');
    }
}
.case__content{
    padding:3.3rem 0 4.4rem;
    background-color: #f2f4f7;
    .container{
        .row{
            .case__content__li{
                padding: 0 0.7rem;
                margin-bottom:2.2rem;
                .qs-card__contentTxt__panel{
                    background-color: white;
                }
            }
        }
    }
}

/*媒体查询*/
/*当页面大于1200px时，大屏幕，主要是pc端*/
@media (min-width: 1200px) {

}
/*在992和1199像素之间的屏幕里，中等屏幕，分辨率低的pc*/
@media (min-width: 992px) and (max-width: 1199px) {

}
/*在768和991像素之间的屏幕里，小屏幕，主要是PAD*/
@media (min-width: 768px) and (max-width: 991px){

}
/*在480和767像素之间的屏幕里，超小屏幕，主要用于手机*/
@media (min-width: 480px) and (max-width: 767px) {

}
/*在小于480像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
    .case-swiper{
        .slide-three {
            background: url('../images/case/mobile/xtep04-phone.jpg');
        }
    }
}