/* 通用 */
.t-c{
  text-align: center;
}
@customization-fa:#fafafa;
@customization-gray:#dddddd;
@customization-gray2:#999999;
@customization-gray3:#333333;
@customization-blue:#33b3ed;

.customization{
  /* 图片轮播图片 */
  .swiper-container{
    .customization-one{
      background: url('../images/customization/banner.png') no-repeat;
    }
  }
  .header-button{
    padding: 0;
    margin: 0;
  }
  .regist-login{
    padding: 1.8rem 0 2.5rem;
    a{
      border: 1px solid @customization-blue;
      color: @customization-blue;
      border-radius: 0.3rem;
      padding: 0.8rem 1.2rem;
    }
    a:hover{
      background-color: @customization-blue;
      color: white;
    }
  }
  .cus-content{
    width: 100%;
    background-color: @customization-fa;
    padding-bottom: 5rem;
    .cus-h3{
      font-weight: 400;
      background-color: @customization-fa;
      color: #323334;
      font-size: 2.5rem;
      margin: 3.33rem 0;
    }
    .none-px{
      background-color: #ffffff;
      .tab-pane{
        h4{
          padding: 3.5rem 0;
        }
      }
      .my-tab2{
        padding: 0;
        margin: 0;
        a{
          font-size: 1.67rem;
          color: #323334;
          cursor: pointer;
          padding: 2.75rem 2rem;
          background-color: @customization-gray;
          text-align: center;
          img{
            height: 7.5rem;
            width: 7.5rem;
          }
          &.active{
            background-color: white;
          }
          .about-after-solid{
            position: relative;
            &:after{
              content:'';
              display: inline-block;
              width: 1px;
              height: 4rem;
              background-color: #fff;
              position: absolute;
              right: 0;
              top: 1rem;
            }
          }
          &:last-child{
            .nav-tab-child{
              border-right: none;
              &:after{
                content:'';
                display:none;
              }
            }

          }
        }
        .fabric-after-solid{
          position: relative;
          &:after{
            content:'';
            display:inline-block;
            width:1px;
            height:8.25rem;
            background-color: #fff;
            position: absolute;
            right:0;
            top:2rem;
          }
        }
      }
      .my-tab-span{
        text-align: center;
        margin: 3.33rem 0 3rem;
        a{
          padding: 0 2%;
          font-size: 1.17rem;
          color: @customization-gray2;
          cursor: pointer;
          &.active{
            color: #757c82;
          }
        }
      }
      .tab-content{
        .tab-pane{
          .tab-pane-child{
            display: none;
            &.active{
              display: block;
            }
          }
          display: none;
          .get{
            margin: 0;
            padding: 0 3.33rem;
            .cus{
              border: none;
              .icon{
                text-align: center;
                i{
                  font-size: 3.5rem;
                  color: #a9b0b4;
                }
              }
              .cus-title{
                font-weight: 300;
                margin-top: .5rem;
                font-size: 1.4rem;
                height: 3rem;
              }
              .cus-detail{
                font-weight: 300;
                color: @customization-gray2;
                height: 3rem;
                text-align: center;
                font-size: 1.17rem;
              }
            }
          }
          &.active{
            display: block;
          }
        }
      }
      .cus-enter{
        font-weight: 300;
        color: @customization-blue;
        cursor: pointer;
        margin: 3rem 0;
        span{
          position: relative;
          display:inline-block;
          margin-left: 5px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 8px solid @customization-blue;
        }
      }
    }
  }
  .download{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: #4d4d4d;
    img{
      width: 22%;
      border: none;
      padding: 0;
      margin: 0 5%;
      background-color: #4d4d4d;
    }
  }
}


.square {
  position: relative;
  margin: 0 auto;
  img{
    width: 80%;
  }
  .cont{
    position: absolute;
    top: 42%;
    width: 80%;
    text-align: center;
    font-size: 1.6rem;
  }
}


/*媒体查询*/
/*当页面大于1200px时，大屏幕，主要是pc端*/
@media (min-width: 1200px) {
  .regist-login a {
    padding: 0.8rem 1.5rem;
  }
}
/*在992和1199像素之间的屏幕里，中等屏幕，分辨率低的pc*/
@media (min-width: 992px) and (max-width: 1199px) {
  .regist-login a {
    padding: 0.6rem 1.2rem;
  }
  .square{
    .cont{
      font-size: 1.4rem;
    }
  }
}
/*在768和991像素之间的屏幕里，小屏幕，主要是PAD*/
@media (min-width: 768px) and (max-width: 991px){
  .regist-login a {
    padding: 0.5rem 1.1rem;
  }
  .square{
    .cont{
      font-size: 1.2rem;
    }
  }
}
/*在480和767像素之间的屏幕里，超小屏幕，主要用于手机*/
@media (min-width: 480px) and (max-width: 767px) {
  //.img-display{
  //  display: none;
  //}
  .regist-login a {
    padding: 0.4rem 1rem;
  }
  .square{
    .cont{
      font-size: 1rem;
    }
  }
}
/*在小于480像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
  //.img-display{
  //  display: none;
  //}
  .my-tab a {
    padding: 10px 1px !important;
  }
  .customization{
    .regist-login {
      padding-top: 2.5rem;
      a{
        font-size: 0.8rem;
        padding: 0.3rem 0.9rem;
      }
    }
  }
  .square{
    img{
      width: 120%;
    }
    .cont{
      font-size: 0.9rem;
      width: 120%;
    }
  }
}