body {
  @font14: 1.17rem;
  @font16: 1.33rem;
  @font18: 1.5rem;
  @font20: 1.67rem;
  @font24: 2rem;
  @font26: 2.16667rem;
  @height45: 3.75rem;
  @media (max-width: 768px) {
    .download-wrap {
      width: 100%;

      .unseen {
        display: none;
      }
    }

    .updateLog-wrap {
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1180px) {
    .download-wrap {
      width: 100%;
    }

    .updateLog-wrap {
      width: 100%;
    }
  }
  @media (min-width: 1180px) {
    .download-wrap {
      width: 979px;
      height: 475px;
    }

    .updateLog-wrap {
      width: 979px;
      height: 455px;
    }
  }
  .download-wrap {
    margin: 1.67rem auto 0 auto;
    background-color: white;
    .reset {
      padding: 0;
      margin: 0;
      border: solid 1px #f8f8f8;
    }
    .img-wrap {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      width: 100%;
      height: 14.5rem;
      //margin-top: .83rem;
      //border-bottom:solid 1px lightgray;
      justify-content: center;
      align-items: center;
      background-color: #F5F5F5;
    }
    p {
      text-align: center;
      padding: 2.2rem 0;
      margin: 0;
      font-size: @font14;
      font-weight: bold;
      background-color: #FFFFFF;
      strong {
        font-size: @font20;
        margin-right: 0.4rem;
      }
      span{
        font-size: @font14;
      }
    }
    .describtion {
      padding: 0 1.67rem;
      font: @font20;
      color: #555;
      text-align: left;
    }
    a {
      display: block;
      width: 14.17rem;
      height: 3.33rem;
      line-height: 3.33rem;
      margin: 0 auto;
      padding: 0;
      border-radius: 1.67rem;
      color: #fff;
      text-align: left;
    }
    .btn-download-group{
      margin: 2rem 0 3.4rem 0;
      .unseen{
        //margin: 1.8rem auto 0.8rem auto;
        margin: 0 auto 0.8rem auto;
      }
      .btn-download {
        background-color: deepskyblue;
        margin: 0 auto 0.8rem auto;
        i{
          font-size: @font26;
          margin: .83rem .417rem 0 1.6rem;
          span{
            margin-left: 2rem;
            font-size: @font14;
            vertical-align: 4px;
            color: #fff;
            &.qs-windows{
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
  .updateLog-wrap {
    margin: 6.67rem auto 0 auto;
    padding: 0;
    background-color: white;
    .title {
      color: #000;
      font-size: @font24;
    }
    .v-time {
      margin: 3rem 0;
      font-size: @font20;
      .version {
        color: #555;
      }
      .time {
        color: #999;
        margin-left: .83rem;
        i{
          font-size: @font20;
        }
      }
    }
    .device {
      font-size: 1.08rem;
    }
    .log-content {
      width: 100%;
      height: 100%;
      margin: 1.9rem 0;
      word-break: break-all;
      overflow: auto;
    }
  }
}