.fabric{
  @customization-fa:#fafafa;
  @customization-gray:#eeeeee;
  @customization-gray2:#a9b0b4;
  @customization-gray3:#333333;
  @customization-blue:#38ADFF;

  /* 图片轮播 */
  .swiper-container{
    .fabric-two{
      background: url('../images/customization/banner.png') no-repeat;
    }
    .fabric-three{
      background: url('../images/customization/banner.png') no-repeat;
    }
  }
  .nav-tab-white{
    background-color: @customization-gray2;
    &.active{
      background-color: @customization-fa;
    }
  }

  .header-button{
    padding: 0;
    margin: 0;
    .regist-login{
      padding: 1.8rem 0 2.5rem;
      a{
        border: 1px solid @customization-blue;
        color: @customization-blue;
        border-radius: 0.3rem;
        padding: 0.8rem 1.2rem;
      }
      a:hover{
        background-color: @customization-blue;
        color: white;
      }
    }
  }
  .fabric-tab{
    width: 100%;
    background-color: @customization-fa;
    padding-bottom: 5rem;
    .cus-h3{
      font-weight: 400;
      background-color: @customization-fa;
      color: #323334;
      font-size: 2.5rem;
      margin: 5rem 0 3.33rem;
    }
    .none-px{
      background-color: #ffffff;
      .tab-pane{
        h4{
          padding: 3.5rem 0;
        }
      }
      .my-tab2{
        padding: 0;
        margin: 0;
        a{
          font-size: 1.67rem;
          color: #323334;
          cursor: pointer;
          padding: 2.75rem 2rem;
          background-color: @customization-gray;
          text-align: center;
          img{
            height: 7.5rem;
            width: 7.5rem;
          }
          &.active{
            background-color: white;
          }
          .about-after-solid{
            position: relative;
            &:after{
              content:'';
              display: inline-block;
              width: 1px;
              height: 4rem;
              background-color: #fff;
              position: absolute;
              right: 0;
              top: 1rem;
            }
          }
          &:last-child{
            .nav-tab-child{
              border-right: none;
              &:after{
                content:'';
                display:none;
              }
            }

          }
        }
        .fabric-after-solid{
          position: relative;
          &:after{
            content:'';
            display:inline-block;
            width:1px;
            height:8.25rem;
            background-color: #fff;
            position: absolute;
            right:0;
            top:2rem;
          }
        }
      }
      .my-tab-span{
        text-align: center;
        margin: 2.6rem 0 5.5rem;
        a{
          padding: 0 2%;
          font-size: 1.17rem;
          color: @customization-gray2;
          cursor: pointer;
          &.active{
            color: #757c82;
          }
        }
      }
      .tab-content{
        .tab-pane{
          .tab-pane-child{
            display: none;
            &.active{
              display: block;
            }
          }
          display: none;
          .get{
            margin: 0;
            padding: 0 3.33rem;
            .cus{
              border: none;
              .icon{
                text-align: center;
                i{
                  font-size: 3.5rem;
                  color: #a9b0b4;
                }
              }
              .cus-title{
                font-weight: 300;
                padding: 5% 0;
                font-size: 1.4rem;
                height: 3rem;
              }
              .cus-detail{
                font-weight: 300;
                color: @customization-gray2;
                height: 3rem;
                text-align: center;
                font-size: 1.17rem;
              }
            }
          }
          &.active{
            display: block;
          }
        }
      }
    .cus-enter{
      font-weight: 300;
      color: @customization-blue;
      cursor: pointer;
      margin-top: 5rem;
      margin-bottom: 5%;
      span{
        position: relative;
        display:inline-block;
        margin-left: 5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 8px solid @customization-blue;
      }
    }
  }
  }
  .download{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: #4d4d4d;
    img{
      width: 22%;
      border: none;
      padding: 0;
      margin: 0 5%;
      background-color: #4d4d4d;
    }
  }
}



/*媒体查询*/
/*当页面大于1200px时，大屏幕，主要是pc端*/
@media (min-width: 1200px) {
  .swiper-container{
    .fabric-one{
      background: url('../images/fabric/fabric-banner.jpg') no-repeat;
    }
  }
  .regist-login a {
    padding: 0.8rem 1.5rem;
  }
  .nav-tab-child{
    span{
      margin-left: 10%;
    }
  }
}
/*在992和1199像素之间的屏幕里，中等屏幕，分辨率低的pc*/
@media (min-width: 992px) and (max-width: 1199px) {
  .regist-login a {
    padding: 0.6rem 1.2rem;
  }
  .nav-tab-child{
    span{
      margin-left: 10%;
    }
  }
}
/*在768和991像素之间的屏幕里，小屏幕，主要是PAD*/
@media (min-width: 768px) and (max-width: 991px){
  .regist-login a {
    padding: 0.5rem 1.1rem;
  }
  .nav-tab-child{
    span{
      margin-left: 10%;
    }
  }
}
/*在480和767像素之间的屏幕里，超小屏幕，主要用于手机*/
@media (min-width: 480px) and (max-width: 767px) {
  .regist-login a {
    padding: 0.4rem 1rem;
  }
  .nav-tab-child{
    img{
      height: 4rem;
      width: 4rem;
    }
    span{
      display: block;
      margin-left: 0;
    }
  }
}
/*在小于480像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
  .swiper-container {
    .fabric-one {
      background: url('../images/fabric/mobile-fabric-banner.jpg') no-repeat;
    }
  }
  .regist-login a {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
  .nav-tab-child{
    padding: 0;
    margin: 0;
    span{
      display: block;
      margin-left: 0;
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 1180px){
  .none-px, .qs-data-save{
    margin: 0 6.2rem;
  }
}