.product{

  @product-p:#191f25;
  @product-tab1:#fafafa;

  margin-top: 1rem;
  .tab-common{
    padding: 3rem 0;
    text-align: center;
    .container{
      .text {
        h3{
          font-weight: 400;
        }
        p{
          font-weight: 300;
          font-size: 1.5rem;
          color: #999999;
          margin: 2.5rem 0;
          line-height:3rem;
        }
        .product-detail-btn{
          //display: block;
          border: 1px solid #38ADFF;
          color: #38ADFF;
          border-radius: 0.3rem;
          padding: 0.8rem 1.2rem;
          &:hover{
            background-color: @customization-blue;
            color: white;
          }
        }
      }
    }

  }
  .tab1{
    background-color: @product-tab1;
  }
}


/*媒体查询*/
/*当页面大于1200px时，大屏幕，主要是pc端*/
@media (min-width: 1024px) {
  .tab1-text{
    float: left;
  }
  .tab1-img{
    float: right;
  }
  .product{
    .tab-common{
      .text{
        h3{
          font-size: 3.33rem;
        }
      }
      height: 50rem;
      .text-cls{
        margin: 11.8rem 0 0 4rem;
      }
      .text-left{
        margin: 11.8rem 0 0 7rem;
      }
      .img-cls{
        img{
          margin: 3.4rem 0 0 8.5rem;
        }
      }
      .img-left{
        img{
          margin: 8rem 0 0 4rem;
        }
        .back-img{
          width: 41.33rem;
          height: 27.92rem;
          margin: 8rem 0 0 4rem;
          background: url("../images/product/product-new-2.png") no-repeat;
          video{
            margin-top: 1.38rem;
          }
        }
      }
      .img-news-4{
        img{
          margin: 3.4rem 0 0 4rem;
        }
      }
      .img-right{
        img{
          margin: 8rem 0 0 8.5rem;
        }
        .search-material{
          margin: 8rem 0 0 8.5rem;
          width: 41.75rem;
          height: 28.5rem;
          background: url("../images/product/product-new-3.png") no-repeat;
          video{
            width: 33.34rem;
            height: 25rem;
            margin: 1.6rem .8rem 0 0;
          }
        }
      }
    }
  }
  .text-left-center{
    text-align: left;
  }
}
/*在992和1024像素之间的屏幕里，中等屏幕，分辨率低的pc*/
@media/* (min-width: 766px) and */(max-width: 1024px) {
  .tab1-text{
    float: left;
  }
  .tab1-img{
    float: right;
  }
  .product{
    .tab-common{
      .text{
        h3{
          font-size: 3rem;
        }
      }
      height: 35rem;
      .text-cls{
        //margin: 0rem 0 0 4rem;
      }
      .text-left{
        margin: 6rem 0 0 0rem;
      }
      .img-cls{
        img{
          //margin: 3.4rem 0 0 8.5rem;
        }
      }
      .img-left{
        img{
          width: 22.5rem;
          //margin: 8rem 0 0 4rem;
        }
        .back-img{
          width: 100%;
          height: 27.92rem;
          margin: 4rem 0 0 0rem;
          background: url("../images/product/product-new-2.png") no-repeat;
          background-size: 100%;
          video{
            margin-top: 1.38rem;
          }
        }
      }
      .img-news-4{
        img{
          //margin: 3.4rem 0 0 4rem;
        }
      }
      .img-right{
        img{
          //margin: 8rem 0 0 8.5rem;
        }
        .search-material{
          //margin: 8rem 0 0 8.5rem;
          //width: 41.75rem;
          //height: 28.5rem;
          //background: url("../images/product/product-new-3.png") no-repeat;
          video{
            //width: 33.34rem;
            //height: 25rem;
            //margin: 1.6rem .8rem 0 0;
          }
        }
      }
    }
  }
  .text-left-center{
    text-align: left;
  }
}
/*在768和991像素之间的屏幕里，小屏幕，主要是PAD*/
/*@media (min-width: 768px) and (max-width: 1199px){
  .tab1-text{
    float: left;
  }
  .tab1-img{
    float: right;
  }
  .product{
    .tab-common{
      height: 50rem;
      .text-cls{
        margin: 11.8rem 0 0 4rem;
      }
      .text-left{
        margin: 11.8rem 0 0 7rem;
      }
      .img-cls{
        img{
          margin: 3.4rem 0 0 8.5rem;
        }
      }
      .img-left{
        img{
          margin: 8rem 0 0 4rem;
        }
        .back-img{
          width: 41.33rem;
          height: 27.92rem;
          margin: 8rem 0 0 4rem;
          background: url("../images/product/product-new-2.png") no-repeat;
          video{
            margin-top: 1.38rem;
          }
        }
      }
      .img-news-4{
        img{
          margin: 3.4rem 0 0 4rem;
        }
      }
      .img-right{
        img{
          margin: 8rem 0 0 8.5rem;
        }
        .search-material{
          margin: 8rem 0 0 8.5rem;
          width: 41.75rem;
          height: 28.5rem;
          background: url("../images/product/product-new-3.png") no-repeat;
          video{
            width: 33.34rem;
            height: 25rem;
            margin: 1.6rem .8rem 0 0;
          }
        }
      }
    }
  }
  .text-left-center{
    text-align: left;
  }
}*/
/*在480和767像素之间的屏幕里，超小屏幕，主要用于手机*/
@media (min-width: 480px) and (max-width: 767px) {
  .product{
    .tab-common{
      height: 45rem;
    }
    .tab-common-lastimg{
      padding-top:8rem;
    }
  }
  .text-left-center{
    text-align: center;
  }
}
/*在小于480像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
  .product{
    .tab-common{
      height: 45rem;
    }
    .tab-common-lastimg{
      padding-top:8rem;
    }
  }
  .text-left-center{
    text-align: center;
  }
}

