/*************************************
*    create by junyong.hong
*    email 125173449@qq.com
*    time 2018.10.26
*    component qs-data-save
*************************************/
.qs-data-save{
    padding: 0;
    margin: 0 0 5% 0;
    .qs-data-title{
        margin:4% 0 2% 0;
        color: @customization-gray3;
        font-size: 2.5rem;
    }
    .qs-data-title-s{
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 2%;
    }
    .thumbnail{
        height: 450px;
        border-radius: 0;
        border-top: 2px solid @customization-blue;
        position: relative;
        .caption-title{
            font-size: 1.8rem;
            color: @customization-blue;
        }
        .caption-detail{
            text-indent:2em;
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 2rem;
        }
        .caption-div-img{
            position: absolute;
            text-align: center;
            height: 30%;
            width: 100%;
            bottom: 16%;
        }
    }
    .detail{
        margin-top: 3%;
        a{
            span{
                color: @customization-blue;
                font-size: 1.2rem;
                padding: 8px 6px;
                border: 1px solid @customization-blue;
                border-radius: 5px;
            }
        }
    }
}